{% extends "base.html" %}


{% block content %}
<section id="banner">
    <div class="inner" >
        <h1>école Nationale Supèrieure des Mines de Rabat</h1>
        <p style="color: #ffe000;">E-Service de stage<br />
        Votre espace digital {%if session['logged_in'] == False%} <a href="/login" style="color: #b6a840;text-decoration:underline;">S'identifiez</a> {%endif%}maintenant et diposez vos documents</p>
    </div><video autoplay loop muted playsinline src="../static/images/Mines Rabat.mp4"></video>
</section>


{% if username !='Not Found'%}
<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">

        <!-- Elements -->
            <div class="row">
                <div class="col-6 col-12">
                    <!-- Table -->
                        <h3>Liste des Stages</h3>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Organisme d'accueil</th>
                                        <th>Nome de l'encadrant</th>
                                        <th>Date début</th>
                                        <th>Date Fin</th>
                                        <th>Convention</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if Orgfound %}
                                    <tr>
                                        <td>{{Org['orgName']}}</td>
                                        <td>{{Org['AdresseEnc']}}</td>
                                        <td>{{Org['DateDebut']}}</td>
                                        <td>{{Org['Datefin']}}</td>
                                        <td><a href="/convention"><center><i class="fa fa-download"></i></center></a></td>
                                    </tr>
                                   
                                    
                                </tbody>
                                <tfoot>
                                   
                                </tfoot>
                                
                            </table>
                            {% else %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                                <h3><a href="/document">Ajouter une organisme</a></h3>
                            {% endif %}
                        </div>
                        

                </div>
                
            </div>
        </div>
    </div>
</section>
{%endif%}
{% endblock%}